body{
font-family:Arial;
margin:0;
background:#f4f6f4;
}

header{
background:#1d5e20;
color:white;
padding:15px;
text-align:center;
}

.card{
background:white;
padding:15px;
margin:10px;
border-radius:10px;
}

button{
padding:10px;
margin:5px;
background:#1d5e20;
color:white;
border:none;
border-radius:8px;
}
